.socialMedia {
	width: 40px;
	height: 40px;
	margin: 5px;
}

.paymentOptions {
	width: 50px;
	height: 32px;
	margin: 5px;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
- - - - - - - - - - - - Page Specific- - - - - - - - - - - -
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* - - - - - - - Home Page - - - - - - - - - -*/
.newsletterSection {
	padding: 100px 0;
    color: #f8f8f8;
    background: url(../../assets/Images/newsletter.jpeg) no-repeat center center;
    background-size: cover;
}