html, body {
    height: 100%;
}

.socialMedia {
	width: 40px;
	height: 40px;
	margin: 5px;
}

.paymentOptions {
	width: 50px;
	height: 32px;
	margin: 5px;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
- - - - - - - - - - - - Page Specific- - - - - - - - - - - -
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* - - - - - - - Home Page - - - - - - - - - -*/
.headerImageIndex {
	background-image: url("../../assets/Images/header.jpeg");
}

.newsletterSection {
	padding: 100px 0;
    color: #f8f8f8;
    background: url(../../assets/Images/newsletter.jpeg) no-repeat center center;
    background-size: cover;
}

#servicesSteps {
	height: auto;
}

/* - - - - - - - About Us Page - - - - - - - - - -*/
.headerImageAbout {
	background-image: url("../../assets/Images/about.jpg");
}

/* - - - - - - - check rates page - - - - - - - - - -*/
.headerCheckRate{
	background-image: url("../../assets/Images/checkrates.jpeg");
}

.page-scroll:link {
	text-decoration: none;
}

#showMap, #mapColumn, #mapRow, #mapContainer {
	height: 100%;
}

#services {
	height: 100%;
	min-height: 500px;
}

/* - - - - - - - carrier  page - - - - - - - - - -*/
.headerImageCarriers {
	background-image: url("../../assets/Images/carriers.jpeg");
}

/* - - - - - - - carrier  page - - - - - - - - - -*/
.headerImageRefund {
	background-image: url("../../assets/Images/header.jpeg");
}

/* - - - - - - - carrier  page - - - - - - - - - -*/
.headerImageIntl {
	background-image: url("../../assets/Images/header.jpeg");
}

/* - - - - - - - app.js  page - - - - - - - - - -*/
.carrierChosen {
	background-color: lightblue;
}


